.card {
    max-width: 282px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &__avatar {
        margin: 0 auto;
    }

    &__img {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        aspect-ratio: 1/1;
    }

    &__field {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    &__item {
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
}
